body {
  margin: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #ADB0FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, 
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  box-sizing: border-box;
}